!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
паменять название количества сотрудников
сделать отдельную форсм удобавления либо изменить внешний вид и функционал
добавить должность
дата найма
стаж 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


	Требования

Ориентируйтесь на этот пример: https://github.com/sergey-shambir/php_catboard

От условного заказчика поступило такое описание требований: 

Оргструктура компании «Дороги и ямы» — это список филиалов в разных регионах. 
Список иногда меняется — открываются новые филиалы, закрываются старые. Каждый 
филиал находится в определённом городе по определённому адресу, например, филиал 
в городе Киров у нас по адресу "Комсомольская, 42". Каждый сотрудник работает в 
одном филиале, и у них могут быть разные должности.

Интерфейс приложения должен иметь следующие страницы:
	* Список всех филиалов
		- Для каждого филиала в списке показан город, адрес и число сотрудников
		- Каждая строка в списке — это ссылка для перехода на карточку филиала
		- Можно удалять филиалы и добавлять новые
	* Карточка филиала со списком всех сотрудников
		- Для каждого сотрудника в списке показаны ФИО и должность
		- Каждая строка в списке — это ссылка для перехода на карточку профиля сотрудника
		- Можно удалять сотрудников и добавлять новых
	* Редактируемая карточка профиля сотрудника
		- В профиле сотрудника можно указать ФИО, должность, контактный номер телефона, 
			контактный email-адрес, а также пол (муж./жен.), дату рождения, дату найма и 
			текстовый комментарий администратора системы

	Рекомендации к заданию

Если не знакомы с языком PHP, то используйте процедурный стиль
Карточки филиалов и сотрудников проще всего сделать в виде HTML-форм (тег <form> в HTML)

	Список задач

Схема базы данных и вайрфреймы страниц сдаются вперёд остальных задач. Реализации остальных 
задач можно сдавать в любом порядке.

Баллы начисляются в зависимости от реализованной функциональности:

	1. Спроектировать целиком физическую схемы базы данных будущего Web-сервиса — 50 баллов
		- Проектировать физическую схему можно в MySQL Workbench либо в редакторе диаграмм, 
			таком как draw.io (app.diagrams.net)
	2. Подготовить целиком вайрфрейм (wireframe) будущего Web-сервиса — 50 баллов
		- Можно нарисовать его от руки или подготовить в каком-либо веб-сервисе 
			(например, в редакторе диаграмм draw.io)
		- Такой набросок должен показывать ответ на два вопроса
			- Где можно увидеть конкретный атрибут конкретной сущности (или производное значение, 
				такое как число сотрудников)
			- Какие действия доступны и какими контролами (кнопками, формами и т.д.) они выполняются
		- Для этого набросок должен показать предполагаемое расположение всех элементов на всех 
			страницах так, чтобы была понятна задача, решаемая каждым элементом
	3. Реализовать создание и редактирование карточки сотрудника согласно требованиям — 60 баллов
		- Все атрибуты сотрудника должны быть редактируемыми
	4. Реализовать создание и редактирование филиала со списком сотрудников согласно требованиям — 60 баллов
		- Атрибуты филиала должны быть редактируемыми
		- В карточке созданного филиала должен отображаться список сотрудников, и должна быть 
			возможность удалить или добавить сотрудника в филиал
	5. Реализовать отображение списка филиалов согласно требованиям — 60 баллов
		- Должна быть возможность удалить или добавить филиал
		- У каждого филиала в списке следует отображать число сотрудников
	6. Реализовать в карточке сотрудника и карточке филиала хлебные крошки (breadcrumbs), то есть ссылки 
		для перехода на уровень выше — 40 баллов
		- Пример хлебных крошек в карточке сотрудника: 
			Филиалы > Киров, Комсомольская 42 > Иванов Афанасий Никифорович
		- В этом примере "Филиалы" и "Киров, Комсомольская 42" — ссылки на список филиалов и на карточку 
			филиала соответственно
	7. Реализовать загрузку фотографии сотрудника — 80 баллов
		- Фотография должна храниться в каталоге public/uploads/
		- Фотографии загружаются только в форматах JPEG и WEBP
		- Фотографии не должны быть меньше чем 200x200 и больше чем 800x800
		- Загруженная фотография отображается только в карточке сотрудника
