.main {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

#login {
    width: 300px;
    margin: 0 auto;
}

.item_form {
    margin:  15px;
}

label {
    display: block;
    margin-bottom: 5px
}

h1 {
    text-align: center;
}

.logout {
    position: absolute;
    right: 10px;
}

.add {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin: 10px auto;
}

thead,
tfoot {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

.new_dep_form {
    width: 200px;
    margin:  0 auto;
    text-align: center;
}

.new_emp_form {
    display: flex;
    flex-wrap: wrap;
}

.new_dep_item {
    margin: 10px;
}

.new_dep_button {
    margin: 15px;
}

.new_emp_button {
    display: flex;
    justify-content: center;
}

.new_pass_button {
    margin: 15px
}

body {
    width: 900px;
    margin: 0 auto;
}
